@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "./variables.scss";
@import "./utilities.scss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $ff-primary;
    font-size: 0.875rem;

    min-height: 96vh;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    line-height: 145%;
}

button {
    background: none;
    border: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    font-family: $ff-primary;
}

img {
    display: block;
    max-width: 100%;
}

menu li {
    list-style-type: none;

    a {
        text-decoration: none;
        color: black;
    }
}

// Hero Section

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-block: 0.5rem;
}

header > div {
    display: flex;
    gap: 0.5rem;
}

.hamburger {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.25rem;

    padding: 0.35rem;
    border-radius: 4px;
    cursor: pointer;

    div {
        border-bottom: 4px solid rgb(165, 165, 165);
        width: 28px;
    }
}

.hamburger:hover {
    background: rgba($color: #000000, $alpha: 0.075);
}

.navigation {
    // Dead Center it
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    menu {
        display: flex;
        gap: 0.25rem;
        align-items: center;

        li {
            font-weight: 300;
            padding: 0.325rem 0.75rem;
            cursor: pointer;
            border-radius: 2px;
            transition: $transition-1;

            &:hover {
                background: rgb(244, 244, 244);
            }
        }
    }
}

// Hero Section

#hero {
    .container {
        margin-block: 1.75rem;

        .text-content p {
            margin-bottom: 0.75rem;
        }
    }
}

.banner {
    background: url("../assets/gigachad\ expanded.png");
    background-size: cover !important;
    background-position: center !important;

    width: 100%;
    min-height: 415px;
}

// Features Section

#features {
    background: url("../assets/success-image.jpg");
    // padding-block: $section-padding;
    @include section-padding;

    color: white;

    .text-content {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & > p {
            margin-block: 1rem;
        }

        p {
            font-weight: 200;
        }
    }

    .image {
        object-fit: cover;
        aspect-ratio: 1 / 1;
        max-width: 85%;

        border-radius: 10px;
        place-self: end;
    }
}

.features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 3rem;
    gap: 1rem;

    img {
        margin-bottom: 0.75rem;
    }

    h3 {
        margin-bottom: 0.65rem;
    }
}

// Events

#events {
    @include section-padding;
}

.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    margin-top: 3.3rem;

    img {
        aspect-ratio: 3 / 2;
        width: 100%;
    }

    .tag {
        margin-block: 0.5rem 0.7rem;
    }

    h3 {
        margin-bottom: 0.35rem;
    }
}

// Testimonials

#testimonials {
    background: url("../assets/improve.jpg");
    color: white;

    @include section-padding;
}

.testimonials {
    margin-top: 5rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    background: black;
    padding: 2rem;
    border-radius: 8px;

    .stars {
        display: flex;
        gap: 0.25rem;
    }

    .info {
        display: flex;
        gap: 1rem;

        img {
            aspect-ratio: 1 / 1;
            width: 50px;
            border-radius: 50%;

            object-fit: cover;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-block: 0.35rem;
        }
    }
}

// CTA

#cta {
    @include section-padding;

    display: flex;
    gap: 4rem;
    justify-content: space-between;

    form {
        display: flex;
        gap: 1rem;
    }

    input {
        padding: 0.25rem 0.75rem;
        border: 2px solid grey;
        border-radius: 2px;

        width: 100%;
    }

    .tagline {
        font-size: 12px;
    }
}

// Footer

footer {
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-block: 0 1.5rem;
    }

    .bottom,
    .bottom menu {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .bottom {
        margin-inline: auto;
        width: fit-content;
        gap: 1.75rem;

        margin-block: 1.5rem;
    }

    .bottom menu li {
        padding-bottom: 0.25rem;
    }
}

.socials {
    display: flex;
    align-items: center;
    gap: 0.7rem;

    img {
        width: 20px;
    }
}

@media (max-width: $mobile) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.15rem;
    }

    h3 {
        font-size: 1.15rem;
    }

    p {
        line-height: 135%;
    }

    button {
        font-size: 12px;
    }

    // Header

    header .navigation {
        display: none;
    }

    .navigation {
        menu {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }

        li {
            padding: 0 !important;

            &:hover {
                background: transparent !important;
            }
        }
    }

    // Hero Section

    #hero {
        .container {
            margin-block: 2rem 3rem;
        }

        text-align: center;

        .single-line {
            margin-inline: auto;
            margin-top: 1.5rem;
        }

        .banner {
            display: none;
        }
    }

    // Features

    #features {
        .image {
            display: none;
        }

        .hot-card {
            padding: 1rem;

            img {
                width: 20px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    .features-list {
        gap: 0.5rem;
    }

    // Events

    .events {
        grid-template-columns: 1fr;
    }

    // Testimonials

    .testimonials {
        margin-top: 2.5rem;
    }

    .testimonial {
        padding: 1.5rem;

        .info {
            img {
                width: 40px;
                height: 40px;
            }

            div {
                padding-block: 0.25rem;
                font-size: 12px;
            }
        }
    }

    // CTA

    #cta {
        gap: 1rem;
        flex-direction: column;
        text-align: center;
    }

    // Footer

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        margin-bottom: 1.5rem;

        .top {
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            margin: 0;

            .navigation {
                position: relative;
                left: 0;
                transform: translateX(0);
            }
        }

        hr {
            display: none;
        }

        .bottom,
        .bottom menu {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;
            justify-content: space-between;
        }

        .bottom {
            margin: 0;
        }
    }
}
